html, body {
    margin: 0;
    padding: 0;
}

h1 {
    display: inline-block;
}

.hidden {
    visibility: hidden;
}

.duration {
    padding: 0 20px;
}

#heading {
    position: fixed;
    top: 0;
    background-color: #FFF;
    z-index: 2;
    width: 100%;
}
#chart {
    border: #DDD solid 1px;
    width: 100%;
    max-height: 20vh;
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: #FFF;
}

.line,
.line .text {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-top: 1em;
}

.line {
    position: relative;
}
.line .text {
    padding-left: 5px;
}
.line .text:hover {
    background-color: #FFF !important;
}
.bold {
    font-weight: bold;
}

.beforetime {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
.longtime {
    float: left;
    padding-top: 5px;
}

.filter {
    display: inline-block;
    padding-left: 2em;
}

#format-text {
    width: 265px;
}
#timeline {
    width: 0;
    position: fixed;
    bottom: 0;
    z-index: 3;
    border-left: 1px solid #AAA;
    margin: 0;
    padding: 0;
}
